# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt
.mypy_cache/
.pytest_cache/
.coverage
.tox/
.idea/
.vscode/
.DS_Store